
@font-face {
  font-family: 'Eczar';
  src: local('Eczar'), url('../Eczar[wght].ttf') format('truetype');
  font-weight: 400; /* Adjust this value based on the font weight your TTF file corresponds to */
  font-style: normal;
}

.course-card-container {
  margin: 1rem 0 3rem;
  border: 1px solid  #A49393;
  padding: 1rem;
  border-radius: 5px; /* Add border-radius property */
}

h2 {
  font-family: 'Eczar', serif;
  color: #67595E;
}

.section-card {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color:  #A49393;
  border-radius: 5px; /* Add border-radius property */
  box-shadow: 0 2px 4px #67595E;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer; /* Make the div appear clickable */
}

/* Add hover effect to section cards */
.section-card:hover {
  box-shadow: 0 4px 8px #E8B4B8;
}

/* Add highlight class for selected section cards */
.section-card-highlighted {
  background-color: #E8B4B8;
}

.section-card h3 {
  margin: 0;
  font-family: 'Eczar', serif;
}

.discussion-sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); /* Add grid styles to create two columns */
  grid-gap: 10px;
  margin-top: 1rem;
}

.discussion-sections h3 {
  margin: 0;
  font-family: 'Eczar', serif;
  grid-column: 1 / -1; /* Make the heading span 2 columns */
}

.section-card {
  margin: 3px; 
  background-color: #A49393;
  color: #fff;
  font-family: 'Eczar', serif;
  border-radius: 5px;
  box-shadow: 0 2px 4px #67595E;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  padding: 1rem;
  grid-column: span 1; /* Set the default grid column span */
  grid-row: span 1; /* Set the default grid row span */
}

@media screen and (min-width: 768px) {
  .discussion-sections {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Make it 2 columns on larger screens */
  }
  .section-card:first-child {
    grid-column: span 2; /* Make the lecture card span 2 columns */
  }
}