
@font-face {
  font-family: 'Eczar';
  src: local('Eczar'), url('../Eczar[wght].ttf') format('truetype');
  font-weight: 400; /* Adjust this value based on the font weight your TTF file corresponds to */
  font-style: normal;
}

.course-card-container {
  margin: 1rem 0;
  border: 1px solid  #A49393;
  padding: 1rem;
  border-radius: 5px; /* Add border-radius property */
}

h2 {
  font-family: 'Eczar', serif;
  color: #67595E;
}

.section-card {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color:  #A49393;
  border-radius: 5px; /* Add border-radius property */
  box-shadow: 0 2px 4px #67595E;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer; /* Make the div appear clickable */
}

/* Add hover effect to section cards */
.section-card:hover {
  box-shadow: 0 4px 8px #E8B4B8;
}

/* Add highlight class for selected section cards */
.section-card-highlighted {
  background-color: #E8B4B8;
}

.section-card h3 {
  margin: 0;
  font-family: 'Eczar', serif;
}

.section-card p {
  margin: 0;
  font-family: 'Eczar', serif;
}

.discussion-sections {
  margin-top: 1rem;
}

.discussion-sections h3 {
  margin: 0;
  font-family: 'Eczar', serif;
}

.discussion-sections .section-card {
  margin-bottom: 0.5rem;
}

.discussion-sections .section-card:hover {
  box-shadow: none;
  background-color: #67595E;
}